{
  "presets": [
    [
      "@babel/preset-react",
      {
        "useBuiltIns": "entry"
      },
    ],
  ],
  "plugins": ["@babel/proposal-class-properties", "@babel/plugin-proposal-object-rest-spread"]
}